<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% f.forEach(function(item) { %>
        <h3><%=item.title%></h3>
        <h3><%=item.description%></h3>
        <h3><%=item.author%></h3>
        <img src="<%=item.image%>">
        <% });%>
</body>
</html>